<div class="container__big-card">
    
        <div class="big-card__image">
            
                <img src="{{ imageCover }}" alt="" width="250px" height="250px" srcset="">
            
            </div>
        <div class="big-card__title">
            <h1><a href="https://www.dio.me/bootcamp/decola-tech-2025">{{ cardTitle }}</a></h1>
        </div>
        <div class="big-card__description">
            <p><a href="https://www.dio.me/bootcamp/decola-tech-2025">{{ cardDescription }}</a></p>
        </div>
       
</div>
