
.container__big-card{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0;
}

h1 {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

p {
    color:ghostwhite;
    font-size: 15px;
    margin-top: 1px;
    margin-left: 20px;
}

img {
    width: 100%;
    min-width: 250px
}

a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: rgb(249, 239, 236);
}

p :hover {
    color: aliceblue;
    background: linear-gradient(90deg, #fabbdb 12.66%, #f0e3ea 94.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 :hover {
    background: linear-gradient(90deg, #fabbdb 12.66%, #f5c3a8 94.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}