<div class="container__big-card">
    
        <div class="big-card__image">
            
                <img src="https://assets.dio.me/xpMN4YI-bOqGIvgjN36_JYWEwE3f9h0ZgKTISyQ7-Nw/f:webp/q:80/w:480/L3RyYWNrcy8xNTliNTRkMS1iYmY0LTRmNzItYTcxNy02OTM5OGE3YWE2ODMucG5n" alt="" width="250px" height="250px" srcset="">
            
            </div>
        <div class="big-card__title">
            <h1><a href="https://www.dio.me/bootcamp/decola-tech-2025">O Bootcamp Que Vai Hackear Seu Futuro!</a></h1>
        </div>
        <div class="big-card__description">
            <p><a href="https://www.dio.me/bootcamp/decola-tech-2025">Chegou o Decola Tech Avanade 2025! Sua oportunidade de estágio em uma empresa que faz a tecnologia acontecer.</a></p>
        </div>
       
</div>
