<div class="container__small-card"> 
    <div class="small-card__image">
        <img src="https://imageio.forbes.com/specials-images/imageserve/67bc8ceddfce63fdaf8b75f8/solo-leveling/960x0.jpg?format=jpg&width=960" alt="" srcset="">
    </div>
        <div class="small-card__title">
            <h3>
                <b>SOLO LEVELING ULTRAPASSA JUJUTSU KAISEN E ALCANÇA NOVO RECORDE NA CRUNCHYROLL!</b>
                <p>As avaliações de Solo Leveling aumentaram em quase 90 mil em apenas 1 mês. Será que antes do fim da temporada podemos até superar Demon Slayer, que tem 572 mil avaliações?</p>
            </h3>
        </div>
</div>
